.plantMap {
  position: relative;
  display: grid;
  width: 100%;
  min-width: 300px;
  min-height: 720px;
  height: 100%;
  border-radius: 10px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "ssaa1 ssaa1 ssaa1 ssaa2 ssaa2 ssaa2 almacen2 almacen2"
    "ssaa1 ssaa1 ssaa1 ssaa2 ssaa2 ssaa2 almacen2 almacen2"
    "planta3 planta3 planta1 planta1 planta1 planta1 almacen2 almacen2"
    "planta3 planta3 planta1 planta1 planta1 planta1 almacen1 almacen1"
    "planta3 planta3 planta2 planta2 planta2 planta2 almacen1 almacen1"
    "planta3 planta3 planta2 planta2 planta2 planta2 almacen1 almacen1";

  background-image: url("./images/top_view.jpg");
  background-size: contain;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.85);
  background-blend-mode: overlay;
}

.planta1 {
  grid-area: planta1;
}

.planta2 {
  grid-area: planta2;
}

.planta3 {
  grid-area: planta3;
}

.almacen1 {
  grid-area: almacen1;
}

.almacen2 {
  grid-area: almacen2;
}

.ssaa1 {
  grid-area: ssaa1;
}

.ssaa2 {
  grid-area: ssaa2;
}

.shine {
  margin: 0 0.5rem;
  cursor: pointer;
  animation: shine 2s ease-in-out infinite;
}

@keyframes shine {
  0% {
    filter: drop-shadow(0 0 1px rgba(255, 0, 0, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 3px rgba(255, 0, 0, 0.8));
  }
  100% {
    filter: drop-shadow(0 0 1px rgba(255, 0, 0, 0.5));
  }
}

@media (max-width: 768px) {
  .plantMap {
    grid-template-columns: 1fr;
    grid-template-rows: 7fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "ssaa1"
      "ssaa2"
      "planta1"
      "planta2"
      "planta3"
      "almacen1"
      "almacen2";
  }
}
